.container {
    display: flex;
    gap: 1rem;
    border: 1px solid blue;
    border: navajowhite;
}

.box:nth-child(1){
    flex: 1;
}

.box:nth-child(2){
    flex: 2;
}

.box:nth-child(3) {
    flex: 3;
}