.my-button {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    background: #eadbb3;
    font: inherit;
    text-align: center;
}

article a {
    color: #7c3626;
}

.my-button:hover {
    background: #e2a294;
}