.grower.animated {
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes grow {
    0%{
        transform: scaleX(1);
    }
    25%{
        background: darkturquoise;
    }
    50%{
        background: hotpink;
    }
    75%{
        background: purple;
        transform: scaleX(1.8);
    }
    100%{
        background: lightseagreen;
    }
}

.grower {
    width: 200px;
    height: 800px;
    background: lightseagreen;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
}