h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    max-width: 15ch;
}

p {
    font-size: 1.25rem;
    max-width: 70ch;
}

article {
    width: 100%;
}

article {
    width: 100%;
}

article > * + * {
    margin-top: 1.25em;
}