#demoBox {
    aspect-ratio: 1/1;
    border: 0.5px solid hsla(0deg, 0%, 60%, 0.5);
    width: 100%;
    border: 1px solid hsla(0deg, 0%, 40%, 0.25);
    padding: 1rem;
    background-image: url("https://assets.codepen.io/7518/pngaaa.com-1272986.png"),
    url("https://assets.codepen.io/7518/blob.svg"),
    linear-gradient(hsl(191deg, 40%, 86%), hsla(191deg, 96%, 96%, 0.5));
    background-size: contain, cover, auto;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 50%, 10% 50%;
    background-origin: padding-box, border-box, content-box;
}
