.demo > * {
    width: 250px;
    height: 200px;
}

.demo > * + * {
    margin-top: -150px;
    opacity: 0.8;
    box-shadow: 0 -1px 10px rgba(0 0 0 / 60%);
}

.demo > :first-child {
    background: aliceblue;
    border: 2px solid lightblue;
}

.demo > :nth-child(2) {
    background: pink;
    border: 2px solid hotpink;
}

.demo > :last-child {
    background: wheat;
    border: 2px solid gold;
}