.page {
    display: flex;
    flex-wrap: wrap;
}

.page > * {
    padding: 1rem;
}

.sidebar {
    background: cornflowerblue;
    outline: 1px solid salmon;
    flex-grow: 1;
    flex-basis: 12rem;
}

.content {
    flex-basis: 0;
    flex-grow: 2;
    min-width: 70%;
}

body {
    max-width: 50rem;
    min-height: unset;
    padding: 1rem;
    background: white;
    margin: 1rem auto;
}

.page {
    background: white;
    border: 1px solid black;
}