.my-element {
    display: flex;
}

.my-element[data-flex-wrap] {
    flex-wrap: wrap;
}

.my-element[data-space] {
    justify-content: space-between;
}

.my-element[data-align-center] {
    align-items: center;
}

/* Presentation styles */
.my-element > * {
    max-width: 280px;
}
