<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Inline Block | Flow Layout</title>
</head>
<body>
    <div>
        <span>
            These two elements
        </span>
        <span>are normal spans, that are <code>display: inline</code> by default.</span>
        <p>This <span>span element</span> inside a paragraph element is <code>display: inline-block</code>, so
        its top margin will no longer be ignored.</p>
    </div>
</body>
</html>