<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Multi Column Layout | Layout</title>
</head>
<body>
<ul class="countries">
<li>Svalbard and Jan Mayen</li>
<li>Swaziland</li>
<li>Sweden</li>
<li>Switzerland</li>
<li>Syrian Arab Republic</li>
<li>Taiwan, Province of China</li>
<li>Tajikistan</li>
<li>Tanzania, United Republic of</li>
<li>Thailand</li>
<li>Timor-Leste</li>
<li>Togo</li>
<li>Tokelau</li>
<li>Tonga</li>
<li>Trinidad and Tobago</li>
<li>Tunisia</li>
<li>Turkey</li>
<li>Turkmenistan</li>
<li>Turks and Caicos Islands</li>
<li>Tuvalu</li>
<li>Uganda</li>
<li>Ukraine</li>
<li>United Arab Emirates</li>
<li>United Kingdom</li>
<li>United States</li>
<li>United States Minor Outlying Islands</li>
<li>Uruguay</li>
<li>Uzbekistan</li>
<li>Vanuatu</li>
<li>Venezuela</li>
<li>Viet Nam</li>
<li>Virgin Islands, British</li>
<li>Virgin Islands, U.s.</li>
<li>Wallis and Futuna</li>
<li>Western Sahara</li>
<li>Yemen</li>
<li>Zambia</li>
<li>Zimbabwe</li>
</ul>
</body>
</html>