<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Floats | Flow Layout</title>
</head>
<body>
    <article>
        <img src="http://source.unsplash.com/5dCC3Rfwje0/150x150" alt="A raindbow colored liquid texture">
        <p>This image floats left, which means these paragraphs wrap arount it.</p>
        <p>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
            auctor. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
            venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    </article>
</body>
</html>