.my-element {
    filter: opacity(0.3);
}

.demo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
    max-width: 500px;
    margin: 2em auto;
}

.demo p {
    margin-top: 0.5rem;
}

.demo img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}