.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 15rem;
    max-width: 40rem;
    gap: 1rem;
    border: 1px solid navajowhite;
    background: salmon;
}

.container[style*="column"] {
    min-height: 25rem;
}

.toggle {
    --flow-space: 1rem;
}