.demo {
    max-width: 400px;
    height: 400px;
    position: relative;
    background: url(https://source.unsplash.com/YJOuS1GZbDQ/600x400),
    url(https://source.unsplash.com/V7oLFRVqeHM/600x400),
    url(https://source.unsplash.com/_wWjQr1JZ1k/600X400);
    background-size: cover;
    background-blend-mode: overlay;
}